<!DOCTYPE html>
<html>
<head>
  <title>Exporter</title>
  <%= stylesheet_link_tag    "exporter/application", media: "all" %>
  <%= javascript_include_tag "exporter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
